/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after { content:''; clear:both; display:block;}

/* -------------- font --------------- */


@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Poiret+One');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

p.title {text-transform:uppercase;color:#616161;font-size:13px;display:inline-block;letter-spacing:2px;text-decoration:underline;border-top:1px solid white;padding-top:2px;}
.ko {margin:10px 0;font-family: 'NanumGothic', sans-serif!important;font-weight:bold;font-size:14px;}
.ko2  {margin:10px 0;font-family: 'NanumGothic', sans-serif!important;font-size:13px;line-height:20px;}
.smko {font-family: 'NanumGothic', sans-serif!important;font-size:11px;}
.smko2 {font-family: 'NanumGothic', sans-serif!important;font-size:12px;text-transform:uppercase;font-weight:bold;}
.poiret {font-family: 'Poiret One';font-size:13px;text-transform:uppercase;line-height:14px;}
.pink {color:#fe6560;font-weight:bold;}
.font19 {font-size:14px;font-weight:bold;margin:20px 0;}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #fe6560;
}

::selection {
    color: #fff;
    background: #fe6560;
}


/* ------- section0 introduction --------- */

/*#section0 * {font-family: 'Lato', sans-serif;}
#section0 {background:url(../imgs/giraffe-greyblur.jpg) no-repeat 100%; background-size:cover;}
#section0 h1 {font-family: 'Poiret One', cursive;font-size:25px;letter-spacing:1px;margin:15px 0;}
#section0 img {border-radius: 50%; width:150px;margin:30px auto; z-index: 3;}*/
#section0 * {font-family:'Kaushan Script', cursive; position: relative; color: white;}
#section0::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url(../imgs/cup-of-coffee.jpg)no-repeat 100%; 
  background-size:cover;
  filter: grayscale(100%);
}
#section0 h1 {font-family: 'Kaushan Script', cursive; font-size:25px;letter-spacing:1px;margin:15px 0;}
#section0 img {border-radius: 50%; width:150px;margin:30px auto; z-index: 3;}
#section0 .pink {color: #fe6560; font-weight: bold;}


/* --------- section1 SKILLS---------- */
#section1 p.title {border-top: 1px solid black;}
#section1 .ko2 {font-weight: bolder;}

.f-left {text-align:center;display:inline-block;}
.f-left > div {float:left;text-align:left;margin:50px 25px;}
div.skill_img_zone > div{
	margin-bottom:15px;
}


.character ul {float:left;margin-right:10px;}
.character .bar li {margin-bottom:20px;}
.character .smko2 li {margin-bottom:33.5px;}

.character .bar li.bar1 {width:100px;border-radius:8px;height:10px;background-color:#05abe0;}
.character .bar li.bar2 {width:120px;border-radius:8px;height:10px;background-color:#05abe0;}
.character .bar li.bar3 {width:140px;border-radius:8px;height:10px;background-color:#05abe0;}






/* -------- section2 Portfolio--------- */

.f-lft {margin:40px 0;}
.f-lft  div {width:40%;float:left;margin-right:5%;}
.f-lft  div:first-child {text-align:right;}
.f-lft  div:last-child {text-align:left;}
.f-lft  div:last-child p{margin-bottom:10px;}
#section2 a {color:#fe6560;}

















/* ------------- section4 future -------------------- */


#section4 * {color: black; position: relative;}

#section4 ul {display:inline-flex;margin:30px 0;}
#section4 ul li {float:left;margin-right:1%;padding:20px;border-radius:50%;width:100px; height:100px;border:1px solid #fff;line-height:100px;}

#section4 div {margin:20px auto;}
#section4 div > p {
	margin-bottom:10px;
}
#section4 p.title {color: black; border-top: 1px solid black;}
#section4::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url(../imgs/table.jpg)no-repeat 100%; 
  background-size:cover;
  filter: grayscale(100%);
}
#section4 .pink {color: #fe6560; font-weight: bold;}

/* -------------responsive-------------------- */
@media screen and (max-width:400px){

	p.title {display:none;}
	#menu li {margin: 5px;}
	#menu li a, #menu li.active a {padding: 6px 13px;}
	#menu li a {font-size:9px;}

	/*section1*/
	#section1 {background: url(../imgs/watercolorbg2.png) no-repeat 100%;background-size: 50%; background-attachment: fixed;}
	.character ul:last-child {display:none;}

	/*section2*/
	#section2 .f-lft  div {width:100%;float:none;margin-right:0%;}
	#section2 .f-lft div:first-child {text-align: center;}
	#section2 .f-lft div:first-child img {width:170px;}
	.fp-controlArrow.fp-prev {left: 9px;border-width: 8.5px 15px 8.5px 0;}
	.fp-controlArrow.fp-next {right: 9px;border-width: 8.5px 0 8.5px 15px;}
	#section2 .f-lft div:last-child {
		width: 90%;margin:20px auto;}

	/*section3*/
	#section3 .f-lft div:first-child {
		text-align:center;
	}

	#section3 .f-lft div {
	    width: 100%;
	    float:none;
	    margin-right:none;
	}
	#section3 .f-lft div img {
		width:170px;
	}
	#section3 .f-lft div:last-child p {
	    margin-bottom: 1px;
	    font-size: 12px;
	}
	#section3 .f-lft div:last-child {
		text-align: left;
	    width: 90%;
	    margin: 20px auto;
	}

	/*section4*/

	#section4 div.hidden {display:none;}
	#section4 div {width:80%; margin:0 auto;}


}





